/.idea/sqldialects.xml


/logs/

/note/

/hm-service/target/
/hm-service/src/test/
/hm-service/src/main/resources/application-dev.yaml
/hm-service/src/main/resources/application-local.yaml

/hm-common/target/
/hm-common/src/test/

/hm-api/target/

/pay-service/src/test/
/pay-service/target/
/pay-service/src/main/resources/application-dev.yaml
/pay-service/src/main/resources/application-local.yaml

/user-service/src/test/
/user-service/target/
/user-service/src/main/resources/application-dev.yaml
/user-service/src/main/resources/application-local.yaml

/trade-service/src/test/
/trade-service/target/
/trade-service/src/main/resources/application-dev.yaml
/trade-service/src/main/resources/application-local.yaml

/cart-service/src/test/
/cart-service/target/
/cart-service/src/main/resources/application-local.yaml
/cart-service/src/main/resources/application-dev.yaml

/item-service/target/
/item-service/src/test/
/item-service/src/main/resources/application-dev.yaml
/item-service/src/main/resources/application-local.yaml

/hm-gateway/target/